{% extends "@Contao/content_element/_base.html.twig" %}

{% block wrapper %}
    {% if wildcard ?? false %}
        <div class="tl_gray">
            <span class="upper">{{ wildcard|raw }}</span>
        </div>
    {% endif %}
<{% block wrapper_tag %}div{% endblock %}{% block attributes %}{{ attributes }}{% endblock %}>
    {%- block inner %}
        <div{{ attrs(container_attributes|default).addClass(containerClass) }}>
            {% for fragment in nested_fragments %}
                {{ content_element(fragment) }}
            {% endfor %}
        </div>
    {% endblock -%}
    </{{ block('wrapper_tag') }}>
{% endblock %}
